// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-size: 28px;
}
h1{
  font-size: 24px;
}
table{
  margin: 0 auto 0 auto;
}
td {
  vertical-align: top;
  white-space: nowrap;
}
ul{
  padding: 0 0 0 20%;
}
li{
  list-style-type: none;
}
img {
  border: 3px solid grey;
}
